.wrapper {
  height: 550px;
  overflow: hidden;
  overflow-y: scroll;
}

.card {
  border: 1px solid black;
  border-bottom-color: transparent;
  padding: 0.5rem;

  &-header {
    margin: 0.5rem 0;
  }
  
  &:last-child {
    border-bottom-color: black;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
