<div class="wrapper" #anchor>
  <ng-container *ngFor="let airline of airlineList; let idx = index">
    <div class="card" #scrollChild>
      <h3 class="card-header">{{ airline.name }}</h3>
      <ng-container *ngIf="airlineList.length === idx + 1">
        <p style="color: red">I'm the last one!</p>
      </ng-container>
      <div class="card-content">
        <div class="card-avatar">
          <img [src]="airline.logo" [alt]="'logo'" style="display: block" />
        </div>
        <div class="card-content-text">
          <p>Country: {{ airline.country }}</p>
          <p>Slogan: {{ airline.slogan }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
